@use '@packages/styles/src/variables/breakpoints.scss' as *;

.page-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  header {
    width: 100%;
    display: flex;
    gap: var(--spacing);

    .container,
    .image {
      width: calc(50% - calc(var(--spacing) / 2));
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--spacing);
      text-align: center;
    }

    .heading {
      text-transform: uppercase;
    }

    @media (width < breakpoint(md)) {
      flex-direction: column-reverse;

      .container,
      .image {
        width: 100%;
      }
    }
  }

  .region-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);

    .list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: var(--spacing);
    }
  }

  .about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing);

    &-figure,
    &-content {
      width: calc(50% - var(--spacing) / 2);
    }

    &-figure {
      display: flex;
    }

    &-image {
      max-height: 50vmin;
      width: 100%;
    }

    &-content,
    &-blockquote {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-content {
      gap: var(--spacing);
    }

    &-blockquote {
      gap: calc(var(--spacing) / 2);
    }

    &-text {
      text-align: justify;
      overflow: hidden;
      overflow-wrap: break-word;
      word-break: break-word;
    }

    &-cite {
      text-align: right;
    }

    &-cta {
      align-self: center;
    }

    @media (width < breakpoint(md)) {
      flex-direction: column;

      &-figure,
      &-content {
        width: 100%;
      }

      &-heading {
        text-align: center;
      }
    }
  }
}
