@use '@packages/styles/src/variables/breakpoints.scss' as *;

.page-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .header {
    flex-direction: row-reverse;
  }

  .text {
    text-align: center;
  }

  .region-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);
  }
}
