$breakpoint: 600px;

.page-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vmin;

    > .container,
    .image {
      width: calc(50% - 2.5vmin);
    }

    > .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5vmin;
    }

    .heading,
    .text {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }

    .span {
      width: 100%;
    }

    .text {
      width: 100%;
    }

    .image {
      max-height: 50vmin;
    }

    .ctas {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
    }

    @media (width <= $breakpoint) {
      flex-direction: column-reverse;

      .container,
      .image {
        width: 100%;
      }
    }
  }

  .separator {
    margin: 10vmin 0;
    border: 1px solid var(--color-text);
    width: 75%;
  }

  .region-services {
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vmin;

    .services {
      width: 100%;
    }

    .heading {
      text-align: center;
    }

    .services-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5vmin;
    }

    .list-item {
      width: calc(100% / 3 - 10vmin / 3);
    }

    @media (width <= $breakpoint) {
      .services-list {
        flex-direction: column;
        gap: 10vmin;
      }

      .list-item {
        width: 100%;
      }
    }
  }

  .region-projects,
  .region-blog {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 5vmin;

    .container,
    .image {
      width: calc(50% - 2.5vmin);
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5vmin;
    }

    .image {
      max-height: 50vmin;
    }
  }

  .region-projects {
    flex-direction: row-reverse;
  }

  @media (width <= $breakpoint) {
    .region-projects,
    .region-blog {
      flex-direction: column-reverse;

      .container,
      .image {
        width: 100%;
      }
    }
  }

  .region-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vmin;

    .about {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5vmin;

      &-figure,
      &-content {
        width: calc(50% - 2.5vmin);
      }

      &-figure {
        display: flex;
      }

      &-image {
        max-height: 50vmin;
        width: 100%;
      }

      &-content,
      &-blockquote {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &-content {
        gap: 5vmin;
      }

      &-blockquote {
        gap: 2.5vmin;
      }

      &-text {
        text-align: justify;
        overflow: hidden;
        overflow-wrap: break-word;
        word-break: break-word;
      }

      &-cite {
        text-align: right;
      }

      &-cta {
        align-self: center;
      }

      @media (width <= $breakpoint) {
        flex-direction: column;

        &-figure,
        &-content {
          width: 100%;
        }

        &-heading {
          text-align: center;
        }
      }
    }
  }
}
