@use '@packages/styles/src/variables/breakpoints.scss' as *;

.page-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .header {
    flex-direction: row-reverse;
  }
}

.region-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing);
}

.services {
  width: 100%;

  &-list {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: calc(var(--spacing) * 2);
  }

  @media (width >= breakpoint(mobile)) and (width < breakpoint(tablet)) {
    .list-item {
      max-width: 85%;
    }
  }

  @media (width >= breakpoint(tablet)) {
    &-list {
      grid-template-columns: repeat(2, 1fr);
      gap: var(--spacing);
    }
  }

  @media (width >= breakpoint(desktop)) {
    &-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
