{
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "overrides": [
    {
      "files": ["*.{ts,tsx}"],
      "plugins": ["@typescript-eslint"],
      "extends": [
        "plugin:@typescript-eslint/strict-type-checked",
        "plugin:@typescript-eslint/stylistic-type-checked"
      ],
      "rules": {
        "@typescript-eslint/no-misused-promises": [
          2,
          { "checksVoidReturn": { "attributes": false } }
        ]
      }
    },
    {
      "files": ["*.tsx"],
      "excludedFiles": ["*.test.tsx"],
      "plugins": ["jsx-a11y", "react", "react-hooks"],
      "extends": [
        "plugin:jsx-a11y/recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended"
      ],
      "rules": {
        "react-hooks/exhaustive-deps": "error"
      }
    },
    {
      "files": ["*.test.{ts,tsx}"],
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"]
    },
    {
      "files": ["*.test.tsx", "**/__tests__/**/index.tsx"],
      "plugins": ["testing-library", "jest-dom"],
      "extends": [
        "plugin:testing-library/react",
        "plugin:jest-dom/recommended"
      ],
      "rules": {
        "testing-library/render-result-naming-convention": "off",
        "testing-library/no-node-access": "warn"
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": 6,
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "root": true,
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "no-cond-assign": ["error", "always"],
    "no-console": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
