@use 'sass:map';
@use '../functions/utils.scss' as *;

$typography: () !default;
$typography: map.merge(
  (
    font-size: 16px,
    font-ratio: 1.33,
  ),
  $typography
);

@function typography($key) {
  @return map-getter($typography, $key);
}
