@use '../functions/fluid.scss' as *;
@use '../variables/breakpoints' as *;
@use '../mixins/utils.scss' as *;

html {
  @include css-variables(
    (
      spacing:
        fluid(
          (
            value-min: 20px,
            value-max: 60px,
            unit-value: px,
          )
        ),
    )
  );

  font-size: fluid(
    (
      value-min: 16px,
      value-max: 24px,
    )
  );
  line-height: 1.5;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  overflow: auto;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  // hyphens: auto;
}
