@use '@packages/styles/src/variables/breakpoints.scss' as *;

.cta {
  border-radius: 2em;
  padding: 0.5em 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  letter-spacing: 0.025em;
  border: medium solid var(--color-accent);
  outline: 0.1rem solid var(--color-accent-dark);
  outline-offset: 0.5em;
  transition: 0.25s ease-in-out;
  transition-property: color, background-color, border-color, outline-color;

  &:not(:focus) {
    outline: none;
    outline-color: var(--color-accent-dark);
  }

  &:focus {
    &:hover {
      outline-color: var(--color-accent-light);
    }
  }

  &:not(.emphasize) {
    &,
    &:focus:hover {
      background: transparent;
      color: var(--color-accent);
    }

    &:hover,
    &:focus {
      background: var(--color-accent);
      color: var(--color-background);
    }
  }

  &.emphasize {
    &,
    &:focus:hover {
      background: var(--color-accent);
      color: var(--color-background);
    }

    &:hover,
    &:focus {
      background: transparent;
      color: var(--color-accent);
    }
  }
}

.ctas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing);

  @media (width < breakpoint(xsmall)) {
    flex-direction: column;
  }
}
