@use '@packages/styles/src/variables/breakpoints.scss' as *;

.cta {
  border-radius: 2em;
  padding: 0.5em 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.025em;
  border: 0.125em solid var(--color-accent-dark);
  background: var(--color-background-light);
  color: var(--color-accent-dark);
  outline: thin solid var(--color-accent-dark);
  outline-offset: 0.5em;

  &:hover,
  &:focus {
    background: var(--color-accent-dark);
    color: var(--color-background-dark);
  }

  &:not(:focus) {
    outline: none;
  }

  &.emphasize {
    background: var(--color-accent-dark);
    color: var(--color-background-dark);

    &:hover,
    &:focus {
      background: var(--color-background-light);
      color: var(--color-accent-dark);
    }
  }
}

.ctas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing);

  @media (width < breakpoint(mobile)) {
    flex-direction: column;
  }
}
