@use '@packages/styles/src/variables/breakpoints.scss' as *;

.cta {
  border-radius: 2em;
  padding: 0.5em 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  letter-spacing: 0.025em;
  border: medium solid var(--color-accent);
  outline: none;
  transition: 0.25s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow;

  &:not(.emphasize) {
    background: transparent;
    color: var(--color-accent);

    &:hover {
      background: var(--color-accent);
      color: var(--color-background);
    }
  }

  &.emphasize {
    background: var(--color-accent);
    color: var(--color-background);

    &:hover {
      background: transparent;
      color: var(--color-accent);
    }
  }

  &:focus-visible {
    box-shadow: 0 0 0.5em 0.125em var(--color-accent-dark);
  }
}

.ctas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing);

  @media (width < breakpoint(xsmall)) {
    flex-direction: column;
  }
}
