.input {
  border-radius: 0.25rem;
  padding: 0.5em;
  font-size: 1em;
  outline: none;

  &,
  &::placeholder {
    transition: 0.25s ease-in-out;
    transition-property: color, background-color, border-color, box-shadow;
  }

  &:focus-visible {
    box-shadow: 0 0 0.25em 0.125em var(--color-accent-dark);
  }

  &[type='submit'] {
    cursor: pointer;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--color-background);
    background: var(--color-accent-dark);

    &:focus-visible {
      color: var(--color-background-dark);
      background: var(--color-accent);
    }

    &,
    &:focus-visible {
      &:hover {
        background: var(--color-accent-light);
      }
    }
  }

  &[type='text'],
  &[type='email'] {
    background: var(--color-background-dark);
    border: medium solid var(--color-accent-dark);

    &,
    &::placeholder {
      color: var(--color-text-dark);
    }

    &:hover {
      border-color: var(--color-accent);

      &,
      &::placeholder {
        color: var(--color-text);
      }
    }

    &:focus {
      border-color: var(--color-accent-light);

      &,
      &::placeholder {
        color: var(--color-text-light);
      }
    }
  }
}
