[class*='link'] {
  text-transform: capitalize;
  color: var(--color-link);
  text-underline-offset: 0.25em;

  &:hover,
  &:focus {
    color: var(--color-link-hover);
  }

  &.active,
  &[aria-current='page'] {
    color: var(--color-link-active);

    &:hover,
    &:focus {
      color: var(--color-link-active-hover);
    }
  }
}
