[class*='link'] {
  text-transform: capitalize;
  text-decoration: none;
  text-underline-offset: 0.5em;
  color: var(--color-text-light);
  outline: thin solid var(--color-accent-dark);
  outline-offset: 0.5em;
  border-radius: 0.25em;

  &:hover,
  &:focus {
    color: var(--color-accent);
  }

  &:focus {
    &:hover {
      color: var(--color-accent-light);
    }
  }

  &:not(:focus) {
    outline: none;
  }

  &.active,
  &[aria-current='page'] {
    color: var(--color-accent);

    &:hover,
    &:focus {
      color: var(--color-accent-light);
    }
  }
}
