@use '@packages/styles/src/variables/breakpoints.scss' as *;

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: var(--color-text-light);

  &-image {
    height: 5em;
    width: 5em;
  }

  &-brand {
    border-bottom: 0.125em solid var(--color-heading);
  }

  &-letter {
    font-size: 1.5em;
    font-weight: bold;

    &:nth-child(-n + 3) {
      color: var(--color-accent);
    }

    &:nth-child(n + 4) {
      color: var(--color-fill);
    }
  }

  @media (width > breakpoint(mobile)) {
    flex-wrap: nowrap;

    &-brand {
      margin-left: calc(var(--spacing) / 2);
    }
  }
}
