.navigation {
  .list,
  .list-item,
  [class*='link'] {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .list {
    flex-wrap: wrap;
  }

  .list-item {
    margin: 0 calc(var(--spacing) / 2);
  }

  svg {
    font-size: 2em;
  }
}
