[class*='navigation'] {
  ul,
  li,
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    flex-wrap: wrap;
  }

  li {
    margin: 0 2.5vmin;
  }

  svg {
    font-size: 2em;
  }

  a {
    text-transform: capitalize;
  }
}
