@use '@packages/styles/src/variables/breakpoints.scss' as *;

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing);

  &-text {
    width: 75%;
    text-align: center;
  }

  &-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
  }

  &-input {
    width: 35%;

    &[type='submit'] {
      width: 30%;
    }
  }

  &-info {
    width: 100%;
    text-align: center;
  }

  @media (width < breakpoint(tablet)) {
    &-input {
      &[type='text'],
      &[type='email'] {
        width: 60%;
      }

      &[type='submit'] {
        width: 40%;
      }
    }
  }

  @media (width < breakpoint(small)) {
    &-text {
      width: 100%;
    }

    &-form {
      flex-direction: column;
    }

    &-input {
      &[type='text'],
      &[type='email'] {
        width: 80%;
      }

      &[type='submit'] {
        width: 60%;
      }
    }
  }

  @media (width < breakpoint(mobile)) {
    &-input {
      &[type='text'],
      &[type='email'] {
        width: 100%;
      }

      &[type='submit'] {
        width: 80%;
      }
    }
  }
}
