.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 2.5vmin;

  &-icon {
    font-size: 2em;
    color: var(--color-link);
  }

  &-text {
    text-align: center;
  }

  @media (width <= 600px) {
    flex-flow: row wrap;
    justify-content: center;
    gap: 5vmin;

    &-text {
      width: 100%;
    }
  }
}
