@use '@packages/styles/src/variables/breakpoints.scss' as *;

.service {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: var(--spacing);
  padding: var(--spacing) calc(var(--spacing) / 2);
  color: var(--color-text-light);
  background: var(--color-background-light);
  border-radius: calc(var(--spacing) / 2);
  box-shadow: calc(var(--spacing) / 6) calc(var(--spacing) / 6)
    calc(var(--spacing) / 6) 0 var(--color-background-dark);

  &-icon {
    font-size: 3em;
  }

  &-text {
    text-align: center;
  }

  @media (width > breakpoint(tablet)) {
    gap: calc(var(--spacing) / 2);
  }
}
