@use '@packages/styles';
@use '@packages/styles/src/mixins' as *;
@use '@packages/styles/src/variables/breakpoints.scss' as *;
@forward './components/';
@forward './containers/';
@forward './pages/';

:root {
  @include theme(
    (
      (name: 'background', color: #004643, ratio: 5%),
      (name: 'text', color: #abd1c6, ratio: 10%),
      (name: 'heading', color: #fffffe, ratio: 10%),
      (name: 'accent', color: #f9bc60, ratio: 10%),
      (name: 'fill', color: #e16162, ratio: 10%),
      (name: 'stroke', color: #001e1d, ratio: 5%)
    )
  );
  @include highlight(
    $color: var(--color-background-dark),
    $background: var(--color-accent-light)
  );

  color-scheme: dark light;
  color: var(--color-text);
  background-color: var(--color-background);
}

.heading {
  color: var(--color-heading);
}

.text {
  color: var(--color-text);
}

.image {
  @include theme-image;
}

.icon {
  fill: var(--color-fill, currentColor);
  stroke: var(--color-stroke, currentColor);
  transition: 0.25s ease-in-out;
  transition-property: fill, stroke;
}

// Update this using logic with clamp and breakpoints?
h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

.text {
  font-size: 1.25em;
}

@media (width < breakpoint(mobile)) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1em;
  }
}
