@use '@packages/styles';
@use '@packages/styles/src/mixins' as *;
@forward './components/';
@forward './containers/';
@forward './pages/';

:root {
  @include theme(
    $color-background: #164b60,
    $color-text: #4fc0d0,
    $color-accent: #a2ff86
  );
}

body {
  @include highlight(
    $color: var(--color-background-dark),
    $background: var(--color-accent-light)
  );

  color: var(--color-text);
  background-color: var(--color-background);
}
