@use '@packages/styles/src/variables/breakpoints.scss' as *;

.banner {
  background: var(--color-background-dark);
  padding: var(--spacing);

  @media (width >= breakpoint(desktop)) {
    padding: calc(var(--spacing) / 2);
  }
}
