.content-info {
  background: var(--color-background);
  color: var(--color-text);
  padding: calc(var(--spacing) / 2);

  .wrapper {
    flex-wrap: wrap;
  }

  .copyright,
  .signature {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .navigation {
    width: 100%;
  }
}

.copyright,
.signature {
  justify-content: center;

  @media (width <= 400px) {
    width: 100%;
  }

  span {
    &:not(:first-child) {
      text-indent: 0.25em;
    }
  }
}
