footer {
  background: var(--color-background);
  color: var(--color-text);
  line-height: 1.5;
  padding: 5vmin 0;
  width: 100%;

  &,
  .copyright,
  .signature,
  ul,
  li,
  a {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  a {
    color: var(--color-link);
    text-underline-offset: 0.25em;
    transition: color 0.25s ease-in-out;

    &.active {
      color: var(--color-link-active);

      &:hover {
        color: var(--color-link-active-hover);
      }
    }

    &:hover {
      color: var(--color-link-hover);
    }
  }

  [class*='navigation'] {
    margin-bottom: 5vmin;
    width: 100%;

    li {
      margin: 0 2.5vmin;
    }

    svg {
      font-size: 2em;
    }

    a {
      text-transform: capitalize;
    }
  }

  .copyright,
  .signature {
    margin: 0 5vmin;

    @media (max-width: 400px) {
      width: 100%;
    }

    span {
      &:not(:first-child) {
        text-indent: 0.25em;
      }
    }
  }
}
