#root > header {
  background: var(--color-background);
  color: var(--color-text);
  line-height: 1.5;
  padding: 5vmin;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .navigation {
    margin-left: 5vmin;
  }
}
