@use '@packages/styles/src/variables/breakpoints.scss' as *;

.main {
  background: var(--color-background);
  color: var(--color-text);
  padding: calc(var(--spacing) * 2) var(--spacing);

  @media (width >= breakpoint(tablet)) {
    padding: var(--spacing);
  }
}
