#root > main {
  padding: calc(var(--spacing) * 2) var(--spacing);
  overflow-wrap: break-word;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
